<tr>
    <td><%= video.title %></td>
    <td><%= video.url %></td>
    <td><%= video.category.title %></td>
    <td><%= link_to "Ver vídeo", video_path(video), class: "btn btn-primary"%>
    <td><%= link_to "Editar", edit_video_path(video), class:"btn btn-info" %></td>
    <td><%= button_to "Deletar", video, method: :delete, class:"btn btn-danger", data: {confirm: "Tem certeza de que deseja remover permanentemente este vídeo?"} %></td>
</tr>