<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"> 
        <%= flash[:notice] %>
    </div>
<% end %>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Título</td>
            <td>URL</td>
            <td>Categoria</td>
            <td colspan="1">
        </tr>
    </thead>
    <tbody>
        <% @videos.each do |video| %>
        <tr>
            <td><%= video.title %></td>
            <td><%= video.url %></td>
            <td><%= video.category.title %></td>
            <td><%= button_to "Deletar", video, method: :delete, class:"btn btn-danger", data: {confirm: "Tem certeza de que deseja remover permanentemente este vídeo?"} %></td>
        </tr>
        <% end %>
    </tbody>
</table>
