<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Título</td>
            <td>URL</td>
            <td>Categoria</td>
        </tr>
    </thead>
    <tbody>
        <% @video.each do |v|%>
        <tr>
            <td><%= v.title %></td>
            <td><%= v.url %></td>
            <td><%= v.category.title %></td>
        </tr>
    </tbody>
</table>

<p style="text-align:center">
    <% video = YouTubeAddy.extract_video_id(v.url)%>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video %>"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
        <% end %>
<%= link_to 'Voltar', root_path, class: "btn btn-primary" %>
