<p id="notice"><%= notice %></p>

<h1>Categorias</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Favorito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.favorite %></td>
        <td><%= link_to 'Ver vídeos', category, class: "btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_category_path(category), class: "btn btn-info" %></td>
        <td><%= link_to 'Deletar', category, method: :delete, data: { confirm: 'Tem certeza que deseja deletar?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Categoria', new_category_path, class: "btn btn-primary" %>
